body {
    font-family: 'Ubuntu', sans-serif !important;
}

.card {
    border-radius: 10px;
}

.dash-jumbotron {
    background-color: #e0f2fe;
    background-image: url("../img/baseapp/hero-3.svg");
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: bottom right;
}
@media only screen and (max-width:768px) { 
    .dash-jumbotron { 
        background-size:200px; 
    }
}